In [1]:
import pandas as pd

f = pd.read_csv(r"C:\Users\tasos\Documents\GitHub\ML_DL_Workshops\Data\all_pokemon.csv")
f

,#,Name,Type,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,1,Bulbasaur,Grass,318,45,49,49,65,65,45
1,1,Bulbasaur,Poison,318,45,49,49,65,65,45
2,2,Ivysaur,Grass,405,60,62,63,80,80,60
3,2,Ivysaur,Poison,405,60,62,63,80,80,60
4,3,Venusaur,Grass,525,80,82,83,100,100,80
...,...,...,...,...,...,...,...,...,...,...
1415,806,Blacephalon,Fire,570,53,127,53,151,79,107
1416,806,Blacephalon,Ghost,570,53,127,53,151,79,107
1417,807,Zeraora,Electric,600,88,112,75,102,80,143
1418,808,Meltan,Steel,300,46,65,65,55,35,34
1419,809,Melmetal,Steel,600,135,143,143,80,65,34

In [2]:
f.max()

#ZygardeComplete Forme is the strongest pokemon and its water type

#                            809
Name       ZygardeComplete Forme
Type                       Water
Total                        780
HP                           255
Attack                       190
Defense                      230
Sp. Atk                      194
Sp. Def                      230
Speed                        180
dtype: object